<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <CustomLevels>
        <CustomLevel name="DIAG" intLevel="250" />
    </CustomLevels>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
                <ThresholdFilter level="diag" onMatch="ACCEPT" onMismatch="NEUTRAL" />
            </Filters>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
