<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <CustomLevels>
        <CustomLevel name="DIAG" intLevel="250" />
    </CustomLevels>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
            <Filters>
           <!--     <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>-->
                <ThresholdFilter level="DIAG" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
