# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    
    - name: Set up JDK 25
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
      with:
        java-version: '25'
        distribution: 'zulu'

    - name: Build with Gradle
      run: gradlew publish
      
    - name: Add output files to the Github release
      shell: bash
      run: |
        gh release upload $TAG build/distributions/diagnostics-${TAG:1}-dist.zip build/distributions/diagnostics-${TAG:1}-dist.zip.sha256
      env:
        GITHUB_TOKEN: ${{ github.TOKEN }}
        TAG: ${{ github.event.release.tag_name }}

#     - name: Publish to GitHub Packages Apache Maven
#       run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
#       env:
#         GITHUB_TOKEN: ${{ github.token }}
